.user-form {
    padding-top: 20px;
}

.user-form h1 {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.user-form form {
    display: flex;
    flex-direction: column;
}

.user-form form .row {
    justify-content: center;
    margin-bottom: 30px;
}

.error {
    color: red;
    margin-top: 10px;
}